.highlight{
    font-weight: bold;
}

.project_tab{
    display: inline-block;
    margin: 2px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;    
    background-color: rgb(169, 178, 224);
    border-color: rgb(59, 58, 78);
    border-width: 1px;
    border-style: solid;
}

.wrapper{    
    overflow-x: auto;
    overflow-y: hidden;    
    white-space: nowrap;
}

.menuBar{    
    overflow-x: auto;
    overflow-y: hidden;    
    white-space: nowrap;
}

.menuItem{
    display: inline-block;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;    
}

body {
    width: 100%;
    margin:0px;
}

.fullContent { 
	min-height: 100%;
	display: flex;
	flex-direction: column;		
	margin: 0px;
	padding: 0px;		
    align-items: stretch;
}

.mainBox {	
	justify-content: stretch;
	flex: 1;
	overflow: hidden;
}

.content { 
	display: flex;		
	flex-direction: row; 	
}

.box {
    width: 25%; 
	max-width: 150px; 
	min-width: 150px; 
	margin-left: 0px;
	margin-right: 0px;
}

.scroller {	
	min-height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
	overflow-y: auto;
}

.contentMiddle { 		
	height: 0px;	
	flex: 1 1 auto;        
}

#mainText {
	padding: 5px; 	
	padding-top: 15px;
	min-width:100%; 
	max-width:100%; 	
    width: 100%;    
    min-height: calc(100vh - 80px);
	max-height: 100%;    
    word-break: break-word;
    white-space: normal;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

.note {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;        
}

.projectNote {
    background-color: rgb(155, 212, 209);
}

.entryNote {
    background-color: rgb(162, 184, 224);
}

.entry {
    background-color: rgb(224, 190, 162);    
}

.textBox {    
    margin: 5px;
    padding: 5px;    	
    background-color: rgb(226, 226, 226);
}

.projectBox {
    margin: 5px;
    padding: 5px;    	
}

.entryDisp {
    display: inline-block;
    min-width: 80px;
    max-width: 80px;
    word-break: break-word;
    white-space: normal;
}

.wordCountDisp {    
    margin-left: 5px;
    float: right;
}

.detailsHide {
    display: none;
}